<!DOCTYPE html>
<html>
  <head>
    <title>Joke Stuff</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/home_style.css') }}"
    />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1282548956576660"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>Joke Funniness Calculator</h1>
    <p>Welcome to the Joke Funniness Calculator! Please choose an option:</p>
    <ul>
      <li><a href="/create_joke">Create a joke</a></li>
      <li><a href="/evaluate_joke">Evaluate a joke</a></li>
      <li><a href="/explain_joke">Explain a joke</a></li>
    </ul>
  </body>
</html>
